%% Example of configuration file for Urusai bot

[
    %% Bot configuration
    {urusai, [
        {common, [
            %% 'owner' — main bot owner's JID. Cannot be deleted from owners list via 'owner del' command
            {owner, "darkmaster@jabber.org"},
            %% Pooler's pool change; if changed, be aware that you've changed pool name in Pooler configuration!
            {pool_name, terrarium}
        ]},
        {auth, [
            %% Authentication credentials
            {login, "urusai@jabber.org"},
            % {server, []},
            %% To protect your session using SSL uncomment the following two lines (make sure you're using correct port for your server)
            % {ssl, true},
            % {port, 5223},
            {password, "shine!!!"},
            %% XMPP resource
            {resource, "bottie"}
        ]},
        {database, [
            %% Currently supported database backend: dets, redis
            %% DETS backend configuration example
            {backend, dets},
            {config, [
                {file, "urusai.db"}
            ]}
            %% Redis configuration example (uncomment it and comment other backend sections to use)
            % {backend, redis},
            % {config, [
            %     %% Uncomment required Redis configuration options
            %     % {host, "127.0.0.1"},
            %     % {port, 6379},
            %     % {password, "hackme"},
            %     % {database, 0},
            %     %% 'hash_name' should be set!
            %     {hash_name, "urusai"}
            % ]}
        ]},
        {muc, [
            %% Default nick for MUCs
            {default_nick, "Urusai!"}
        ]}
    ]},

    %% Lager configuration
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/urusai.log"}, {level, '=info'}, {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," ",pid, " ", message, "\n"]}]},
            %% If you need to log complete debug information, uncomment the following string
            % {lager_file_backend, [{file, "log/debug.log"}, {level, '=debug'}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]}
    ]},

    %% Pooler configuration
    %% Current configuration starts
    {pooler, [
        {pools, [
            %% If pool name is changed, be aware that you've changed 'pool_name' in 'common' section for bot
            [{name, terrarium},
             {group, python},
             {max_count, 32},
             {init_count, 4},
             {start_mfa, {urusai_pool_member, start_link, []}}]
        ]}
    ]}
].
