{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {'erlport', ".*", {git, "git://github.com/hdima/erlport.git", {tag, "1.0.0alpha"}}},
    {'pooler', ".*", {git, "git://github.com/seth/pooler.git", {tag, "1.0.0"}}},
    {'cowboy', ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
    {'jsonx', ".*", {git, "git://github.com/iskra/jsonx.git", master}},
    {'eredis', ".*", {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.6"}}},
    {'emysql', ".*", {git, "git://github.com/Eonblast/Emysql.git", {tag, "0.2.16"}}}
]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
